* {
  box-sizing: border-box;
}

body {
  font-size: 1.8rem;
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Helvetica Neue", Arial, sans-serif;

  background: white;
}

.list {
  list-style-type: none;
  display: flex;
}

.list-item {
  display: block;
  padding: 20px;
  margin: 15px;
  border: 1px solid #1DA1F2;
  border-radius: 25px;
  background: #f2f5ff;
  overflow: hidden;
}

.table-wrapper {
  margin: auto;
  padding-left: 0;
  max-width: 800px;
}

.shuffle-list {
  padding-left: 0;
}

.shuffle-list > li {
  margin-left: 0;
  margin-right: 0;
}

.stats-p {
  font-size: 1.5rem;
  margin: 0;
  font-weight: 500;
}

.translation {
  display: inline;
  margin: "3px";
  font-size: 15px;
}

.big {
  margin: 0;
}
.sub-big {
  margin-top: 0;
  font-weight: 300;
  color: #a3a3a3;
  font-size: 1.5rem;
}

.total-tweets {
  margin: 15px;
  text-align: left;
  font-family: Consolas, monaco, monospace;
  font-size: 14px;
  background: white;
  margin: 0;
  margin-top: 0.5rem;
}

.explanation > p {
  font-size: 1rem;
  margin-top: 0.5rem;
}

.gradient-grades > div > p {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.gradient-sub > div > div > span {
  font-size: 1rem;
  padding-bottom: 0.5rem;
}

#shuffle {
  /* This is pretty hackey */
  margin-top: -20px;
}